/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}

/* basic setting */
// color,size
$body-bg: #E5E5E5;
$body-color: #18253d;
$white: #fff;
$font-color: #808080;
$dark-gray: #4a4a4a;
$light-gray: #AFB1BD;
$pale-gray: #F0F0F5;
$black: #2A2A2A;
$pink: #F67599;

$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
);

/* 使用@each 產出css size設定 */
@each $prop,
$abbrev in (width: w, height: h) {

  @each $num,
  $val in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
  }
}

// margin,padding,box-shadow
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * 0.25),
  2: ($spacer * 0.5),
  3: ($spacer * 0.75),
  4: $spacer,
  5: ($spacer * 1.25),
  6: ($spacer * 1.5),
  7: ($spacer * 1.75),
  8: ($spacer * 2)
);

/* 使用@each 產出css spacer設定 */
@each $prop,
$abbrev in (margin: m, padding: p) {

  @each $num,
  $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }

    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val;
    }

    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val;
    }

    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val;
    }

    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val;
    }

    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val;
    }

    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val;
    }
  }
}

// 產生步驟數字 の function 
@mixin getStepNums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .circle-container::after {
      content: '#{$i}';
    }
  }
}

%standard-boxshadow {
  box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
}

%input-style {
  border: 1px solid $light-gray;
  border-radius: 5px;
  font-size: 5px;
  padding: 0.5rem;

  &:hover,
  &:focus {
    border-color: $dark-gray;
  }
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: $white;
  color: $body-color;
  font-family: "PingFang TC";
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-blockt;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

.scrollbar {
  padding-left: 6px;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

// main content
#main-content {
  height: 100%;
  padding: 15px;
}

// stepper
h1 {
  font-size: 24px;
}

.stepper-panel {
  height: 80px;

  .stepper-container {
    display: flex;
    padding-top: 20px;
  }

  .step {
    flex: 1;
    text-align: center;
    line-height: 1.9;
    font-size: 16px;
    @include getStepNums(3);
    position: relative;

    .circle-container {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      border: 1px solid $light-gray;
      color: $light-gray;
      margin: 0 auto;
    }

    &.checked .circle-container::after {
      content: '\2714';
    }

    &.checked,
    &.active {
      .circle-container {
        background-color: $black;
        color: $white;
      }
    }

    .connect-line {
      position: absolute;
      top: 16px;
      right: calc(50% + 30px);
      left: calc(-50% + 30px);
      display: block;
      height: 1px;
      background-color: $pale-gray;
    }
  }
}

// form
.form-panel {
  .form-container {
    height: 100%;

    form {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .form-content {
      flex: 1;

      .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        column-gap: 30px;
        margin-top: 24px;
      }

      .step1-grid {
        grid-template-areas:
          "title name name name"
          "phone phone phone phone"
          "email email email email"
          "country country country country"
          "address address address address"
        ;

        .form-row {
          >input {
            width: 100%;
          }

          &:nth-child(1) {
            grid-area: title;
          }

          &:nth-child(2) {
            grid-area: name;
          }

          &:nth-child(3) {
            grid-area: phone;
          }

          &:nth-child(4) {
            grid-area: email;
          }

          &:nth-child(5) {
            grid-area: country;
          }

          &:nth-child(6) {
            grid-area: address;
          }
        }
      }

      .step3-grid {
        grid-template-areas:
          "name name name name"
          "num num num num"
          "expire expire cvc cvc"
        ;

        .form-row {
          >input {
            width: 100%;
          }

          &:nth-child(1) {
            grid-area: name;
          }

          &:nth-child(2) {
            grid-area: num;
          }

          &:nth-child(3) {
            grid-area: expire;
          }

          &:nth-child(4) {
            grid-area: cvc;
          }
        }
      }
    }
  }
}

form {
  .form-row {
    margin-bottom: 20px;

    >label {
      display: block;
      margin-bottom: 6px;
      font-weight: 700;
      font-size: 12px;
      color: $font-color;
    }

    input {
      @extend %input-style;

      &[type="radio"] {
        -webkit-appearance: none;
        border-radius: 50%;
        cursor: pointer;
        
        &:checked {
          box-shadow: inset 0 0 0 5px $black;
        }

        ~label {
          margin-right: 20px;
          display: inline-block;
          font-weight: 700;
          margin: 0;
          cursor: pointer;
        }
      }

      &[type="number"] {
        width: 60px;
      }
    }

    .select-wrapper {
      position: relative;
      width: 100%;
      z-index: 0;

      &::after {
        // content: '\25BE';
        content: "";
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: $light-gray transparent transparent transparent;
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translatey(-50%);
        z-index: -1;
      }
    }

    select {
      @extend %input-style;
      -webkit-appearance: none;
      cursor: pointer;
      width: 100%;
      min-width: 100px;
      background-color: transparent;

      &:invalid {
        color: #747474;
      }
    }

    .delivery {
      position: relative;
      border: 1px solid $pale-gray;
      margin-top: 24px;
      border-radius: 5px;
      padding: 11px 20px;
      cursor: pointer;

      >label {
        padding-left: 20px;
        font-size: 14px;
        width: 100%;
      }

      p.work-day {
        margin-top: 2px;
      }

      p.price {
        position: absolute;
        top: 13px;
        right: 20px;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

// shopping cart

.cart-container {
  height: 100%;

  .cart-wrapper {
    width: 100%;
    padding: 16px;
    border: 1px solid $pale-gray;
    border-radius: 8px;
  }

  .cart {
    row-gap: 18px;
  }

  .cart-item {
    display: flex;

    img {
      width: 100px;
      height: 100px;
    }

    .amount-controller {
      width: 100px;

      .amount-number {
        font-size: 14px;
      }

      .circle {
        height: 24px;
        width: 24px;
        background-color: $pale-gray;
        border-radius: 50%;
        color: $dark-gray;
        text-align: center;
        line-height: 1.15;
        font-weight: 700;
        font-size: 20px;
        cursor: pointer;
      }
    }

    .price {
      font-weight: 700;
    }
  }

  .freight,
  .total {
    height: 40px;
    border-top: 1px solid $pale-gray;
    margin-top: 16px;

    p {
      font-weight: 700;
    }
  }
}

#btn-control {
  margin-top: 32px;
  margin-bottom: 40px;
  border-top: 1px solid $pale-gray;
  padding-top: 24px;

  .btn {
    font-weight: 700;
    font-size: 14px;
  }

  .btn-bare {
    &::before {
      content: "\27F5";
      margin-right: 12px;
      align-items: center;
      font-size: 16px;
    }
  }

  .btn-primary {
    height: 46px;
    padding: 14px 38px;
    background: $pink;
    color: $white;
    border-radius: 8px;

    &::after {
      content: "\27F6";
      margin-left: 12px;
      align-items: center;
      font-size: 16px;
    }
  }
}